.forheader{
    position: fixed;
    width:100%;
    height: 100px;
    background-color: blueviolet;
    float: left;
    margin-top: -10px;
}
a:hover {
    background: #786b59;
    color: #ffe;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #786b59;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: blue;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 100px;
    top: 37px;
    left: 0;
    background-color: white;
    margin-left:-30px;
    margin-bottom: 20px;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: antiquewhite;
    background-color: cornflowerblue;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}


.formenu{
    width: 100%;
    height: 800px;
    background-image: url("/resources/img/lnu1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}
ol, ul { list-style: none; }
.main-ul li {
    float:left;
    position:relative;
    width:16%;
    text-align:center;
}
.main-ul li a {
    display:block;
    padding-bottom:20px;
    padding-right:10px;
    padding-top:10px;
    padding-left:10px;
    text-decoration:none;
    position: relative;
    z-index: 100;
    background-color: rgba(117,18,98,0.8);
    /*background-color: rgba(164, 164, 164, 0.2);*/
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.main-ul li a span{
    display:block;
    padding-top:10px;
    font-weight:700;
    font-size: 20px;
    /*color: rgba(120, 120, 120, 0.9);*/
    color:white;
    text-transform:uppercase;
    font-family: 'Kotta One', serif;
}
.main-ul li:hover span{
    color: #fff;
}
.main-ul li:nth-child(1):hover a{
    background-color: rgba(175,54,55,0.8);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.main-ul li:nth-child(2):hover a{
    background-color: rgba(199, 204, 73, 0.8);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.main-ul li:nth-child(3):hover a{
    background-color: rgba(213, 135, 11, 0.8);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}
.main-ul li:nth-child(4):hover a{
    background-color: rgba(51, 143, 144, 0.8);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}
.main-ul li:nth-child(5):hover a{
    background-color: rgba(117,18,98,0.8);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.main-ul li:nth-child(6):hover a{
    background-color: rgba(33, 136, 215, 0.8);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.main-ul li:nth-child(7):hover a{
    background-color: rgba(109, 109, 109, 0.8);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}
.main-ul li:nth-child(8):hover a{
    background-color: rgba(152, 120, 92, 0.8);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
}
.main-ul li:nth-child(2):hover> ul
{
    display: block;
}
/* Подменю */
.main-ul ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /*ця строчка якраз і робить так, щоб внутрішньої меню
	не було видно
	*/
    position: absolute;
    top: 25px;
    left: 15px;
    z-index: 99999;
    /*  background: #444;
     background: -moz-linear-gradient(#444, #111);
     background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
     background: -webkit-linear-gradient(#444, #111);
     background: -o-linear-gradient(#444, #111);
     background: -ms-linear-gradient(#444, #111);
     background: linear-gradient(#444, #111);
     -moz-border-radius: 5px; */
    /* border-radius: 5px; */
}


*:first-child+html .main-ul ul a /* IE7 */
{
    height: 10px;
    width: 150px;

}
.main-ul ul li
{
    width:150px;
    float: none;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: block;
    /* -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777; */
}

#list1 { }
#list1 ul { list-style:none; text-align:center; border-top:1px solid black;
    border-bottom:1px solid #eee; padding:10px 0; background-color:black; }
#list1 ul li { display:inline; text-transform:uppercase; padding:0 10px;
    letter-spacing:5px; background-color:black; }
#list1 ul li a { text-decoration:none; color:#eee; }
#list1 ul li a:hover {  }
